.navbar {
  background-color: #ffffff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: flex;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-top: 80px;
  width: 100%;
  padding: 1rem 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0px;

}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav-menu-left {
  margin-right: auto; /* Pushes logo to center */
}

.nav-menu-right {
  margin-left: auto; /* Pushes logo to center */
}

.nav-item {
  height: 80px;
  display: flex;
  align-items: center;
}

.nav-links {
  color: #333;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav-links:hover {
  color: #007bff;
}

.navbar-logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-logo img {
  width: 40px;
  height: 40px;
}

.register-btn {
  background-color: #007bff;
  color: white !important;
  padding: 4px 8px;
  border-radius: 4px;
  margin-left: 10px;
}

.register-btn:hover {
  background-color: #0056b3;
  color: white;
  text-decoration: none;
}